<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        {{>header}}
        {{!-- {{>header}} get partial component - to render header --}}
        <h1>{{errMsg}}</h1>
        {{!-- <img src="/img/20150413_214337-1.jpg"> --}}
        {{>footer}}
    </body>
</html>