<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"/>
        <script src="/js/app.js"></script>
    </head>
    <body class="bgStyle">
        <div class="main-content">
            {{>header}}
            {{!-- {{>header}} get partial component - to render header --}}
            <h1>{{info}}</h1>
            <p>This site created by {{name}}</p>
            <p>It uses data fro mapbox.com and weatherstack</p>
            {{!-- <img class="portrait" src="/img/forecast.jpg"/> --}}
            {{!-- <img src="/img/20150413_214337-1.jpg"> --}}
       </div>
         {{>footer}}
    </body>
</html>